extends ../layout/index
    
block contenido
    div 
        h2.text-center.text-2xl.font-extrabold.text-indigo-600 Crea tu Cuenta
    p.text-center.text-gray-600.mt-2 Por favor ingresa cuidadosamente tus datos: